*.class
*.ctxt
*.ear
*.iws
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
*.iml
.idea
.mtj.tmp/
atlassian-ide-plugin.xml
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
hs_err_pid*
out/
target
